section {
	margin-left: 5%;
	margin-right: 5%;
}
#footer h6 {
	text-align: right;
	font-family: 'Pacifico', cursive;
}
.row {
	max-width: 100%;
	margin: 5% 0 ;
}
h1,h2,h3,h4,h5,h6,p, #sendGreeting {
	color: white;
}
/* gallery page */
#wishCounter {
	border: solid 1px white;
	border-radius: 50%;
	width: 25%;
	position: relative;
	left: 45%;
	background: lightgoldenrodyellow;
}
#wishCounter h5,#wishCounter h6 {
	color: black;
}
#cards li {
	list-style: none;
}
#card {
	background-size:cover;
	height:200px;width:400px;
}
#card div {
	position: relative; left: 25%; top: 40%;
}
#card h6{
	position: relative; left: 55%; top: 70%; color: black;
}
/*greetings page*/
#greeting {
	text-align: center;
}

#sendGreeting {
	margin-top: 7%;
}
#sendGreeting p {
	border: solid 2px green;
}
#menu {
	margin-top: 10%;
}
/*home page*/
.marryText {
  font-family: 'Pacifico', cursive;
}

.names {
	/*font-size: 84px !important;*/
  font-family: 'Pacifico', cursive;
  /*text-shadow: 2px 2px #fff;*/
}

.dateText {
  /*font-size: 24px !important;*/
  font-weight: bold;
}
.text-center {
	text-align: center;
}

#countdown {
	color: #FFFFFF;
	width: 110%;
}

#countdown div {
	  display: inline-block;
    margin-left: 15px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    /*margin: 0 25px;*/
    text-shadow: none;
    vertical-align: middle;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 25px 30px;
    background: rgba(11, 2, 14, 0.37);
    border-radius: 50%;
    width: 140px;
		height: 140px;
		margin-bottom: 5%;
}

#countdown div span {
	  display: block;
    font-size: 18px;
    margin-top: -10px;
    font-weight: normal;
    text-align: center;
}