<!DOCTYPE>

<html>

	<head>
		<title>MyNodeApp</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="description" content="">
			<meta name="author" content="">
			<script src = "/vendor/angular/angular.min.js"></script>
			<script src = "/vendor/angular-route/angular-route.min.js"></script>
			<script src = "/vendor/angular-resource/angular-resource.min.js"></script>
			<script src = "/vendor/ngstorage/ngStorage.min.js"></script>
			<script src = "/vendor/jquery/dist/jquery.min.js"></script>
			<script src = "/vendor/toastr/toastr.js"></script>
			<script src = "/app/app.js"></script>
			<script src = "/app/greeting/greetings.js"></script>
			<script src = "/app/greeting/greetingMsg.js"></script>
			<script src = "/app/common/appNotifier.js"></script>
			<!--<script src = "/app/account/userIdentifier.js"></script>
			<script src = "/app/account/userAuth.js"></script>
			<script src = "/app/account/appUser.js"></script> -->
			<script src = "/vendor/bootstrap/dist/js/bootstrap.min.js"></script>


			<link rel = "Stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css"/>
			<link rel = "Stylesheet" type="text/css" href="/css/mySite.css"/>
	</head>

	<body ng-app = "myApp">
		<div ng-view> </div>

	</body>

</html>